/*these stylings is for desktop devices*/

body{
   padding: 0;
    margin: 0;
    background-image: url(../images/homepage/bg1.png);
}
.container{
    padding: 2% 0;
}

#logo{
    margin-left: -8%
}
#bword{
    margin: 30% 0 0 10%;
}
#bfun{
  
    margin-left: 11%;
    border: solid 1px #fff;
    border-left: none;
    border-right: none;
    
}
#playnow{
color: white;
 border-radius: none;
    
}
#playnow button {
    border: none;
    margin: 80% 0 0 10%;
    background-color: #F03303;
    width: 257px;
    height: 60px;
    font-size: 2rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    
   
}
#playnow button i{
    margin-left: 20%;
}
#playnow button:hover{
     transform: scale(1.15);
    background-color: #143B39;
    color: white;
  
}
.col-md-4 .p1 {
    margin-left: 10%;
    color: #86E3E3;
    font-family: 'Gotham Light';
    font-size: 2rem;
}
.col-md-4 .p2 {
    margin-left: 10%;
    color: #86E3E3;
    font-family: 'Gotham Light';
    font-size: 1rem;
}
.col-md-4 .playstore {
    margin-left: 10%;
    
}
/*styling for mobile devices starts here*/



@media (max-width:1199.98px) { 

    .container{
    padding: 10% 0;
}


    #logo{
    margin-left:8%;
}
    #bword{
        width: 355px;
    margin: 30% 0 0 8%;
}
#bfun{
  
    margin-left: 8%;
    width: 350px;
    border: solid 1px #fff;
    border-left: none;
    border-right: none;
    
}
    
    #playnow button {
    border: none;
    margin: 20% 0 0 20%;
    background-color: #F03303;
    font-size: 2rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    
   
}
.col-md-4 .p1 {
    margin-left: 20%;
    color: #86E3E3;
    font-family: 'Gotham Light';
    font-size: 2rem;
}
.col-md-4 .p2 {
    margin-left: 20%;
    color: #86E3E3;
    font-family: 'Gotham Light';
    font-size: 1rem;
}
.col-md-4 .playstore {
    margin-left: 20%;
    
}
    
}



