/*these stylings is for desktop devices*/

body{
   padding: 0;
    margin: 0;
    background:  url("../images/homepage/bg1.png") no-repeat fixed center;
     
    background-size: cover;
}
.container{
    padding: 2% 0;
}

#logo{
    
}
#bword{
    margin: 30% 0 0 10%;
}
#bfun{
  
    margin-left: 11%;
    border: solid 1px #fff;
    border-left: none;
    border-right: none;
    
}
#playnow{
color: white;
 border-radius: none;
    
}
#playnow button {
    border: none;
    margin: 80% 0 0 10%;
    background-color: #F03303;
    width: 257px;
    height: 60px;
    font-size: 2rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    
   
}
#playnow button i{
    margin-left: 20%;
}
#playnow button:hover{
     transform: scale(1.15);
    background-color: #143B39;
    color: white;
  
}
.col-md-4 .p1 {
    margin-left: 10%;
    color: #86E3E3;
    font-family: 'Gotham Light';
    font-size: 2rem;
}
.col-md-4 .p2 {
    margin-left: 10%;
    color: #86E3E3;
    font-family: 'Gotham Light';
    font-size: 1rem;
}
.col-md-4 .playstore {
    margin-left: 10%;
    
}
/*styling for mobile devices starts here*/



@media (max-width: 767.98px) { 

    .container{
    padding: 10% 0;
}


    #logo{
    margin-left:8%;
}
    .col-md-8{
        text-align: center;
    }
    #bword{
        width: 360px;
    margin: 30% 0 0 5%;
}
#bfun{
    margin: 0 0 0 10px;
    width: 340px;
    
    
}
    
    .col-md-4{
        text-align: center;
        padding: 0;
        margin: 0;
    }    

#playnow button {
   
    margin: 20% 0 0 0;
  
    
   
}
.col-md-4 .p1 {
    margin-left: -2px;
   
}
    .col-md-4 .playstore {
    margin: 0;
    
}
.col-md-4 .p2 {
    margin-left: -2px;
    
}
  

    



